<div class="page">
  <a href="/" class="close" title="Close song selector">X</a>
  <div class="panel songs">
    <div class="playlist">
      <div class="inner">

        this is where the search results go

        <ul>
          <% for item in data %>
            <li>
              <b><%= item.name %></b> on album 
              <b><%= item.album %></b> by 
              <b><%= item.artist %></b> 
              (popularity: <%= item.popularity %>)

              <p>
                <form action="/playlist" method=POST>
                  <input type="hidden" name="name" value="<%= item.name %>" />
                  <input type="hidden" name="album" value="<%= item.album %>" />
                  <input type="hidden" name="popularity" value="<%= item.popularity %>" />
                  <input type="hidden" name="href" value="<%= item.href %>" />
                  <input type="hidden" name="artist" value="<%= item.artist %>" />
                  <input type="submit" value="add to playlist" />
                </form></p>
            </li>
          <% end %>
        <ul>
        <a class="cta-give" href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForFundraiserDisplay.action?fundraiserActivityId=280684">Boom. Now hand over your cash. Pleeeeease</a>
      </div>
      <div class="playlistpose"></div>
    </div>
  </div>
</div>